.card {
 	padding: 40px 20px;
 	margin: 10px 0px;
 	background-position: bottom;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    border-style: none;
 }

 .header {
 	justify-content: flex-start;
 	justify-content: space-between;
 	font-size: 18px;
 	text-transform: uppercase;
 	letter-spacing: .18rem;
 	font-family: 'Abel', sans-serif;
 	color: rgba(0,0,0,0.3);
 	padding: 0px 25px;
 }
 
 .inline {
 	display: inline;
 }

.card-category {
  background-size: cover;
  background-position: bottom;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.about {
  padding: 40px 300px;
}
